Lab | Data Structuring and Combining Data
Objective:

Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.
Challenge 1: Combining Data
In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
But this time, we got new data, which can be found in the following 2 CSV files located at the following links:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv
Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation:

One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [33]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [ ]:
df1= df1.rename(columns=str.lower)
df2= df2.rename(columns=str.lower)
df3= df3.rename(columns=str.lower)

In [ ]:
def rename_columns(df3):
    df3.rename (columns = {'state':'st'}, inplace=True)
    return df3

In [ ]:
df3 = rename_columns(df3)

In [ ]:
combined_df = pd.concat([df1, df2, df3], axis=0)

In [ ]:
combined_df = combined_df.reset_index(drop=True)

In [ ]:
combined_df

In [ ]:
combined_df.info()

In [ ]:
combined_df['customer lifetime value']= combined_df ['customer lifetime value'].str.replace("%", " ")

In [ ]:
combined_df ['customer lifetime value']= combined_df ['customer lifetime value'].astype("float64")

In [ ]:
combined_df.info()

In [ ]:
combined_df.gender.unique()

In [ ]:
combined_df.isna().sum()

In [ ]:
nulls_combined_df = pd.DataFrame(round(combined_df.isna().sum()/len(combined_df),4)*100)
nulls_combined_df = nulls_combined_df.reset_index()
nulls_combined_df.columns = ['header_name', 'percent_nulls']
nulls_combined_df

In [ ]:
combined_df = combined_df.dropna(subset = "customer")

In [ ]:
combined_df = combined_df.reset_index(drop=True)

In [ ]:
combined_df.isna().sum()

In [ ]:
mode_value = combined_df['gender'].mode()[0]

In [ ]:
combined_df['gender'].fillna(mode_value, inplace=True)

In [ ]:
combined_df.isna().sum()

In [ ]:
mean_value = combined_df['customer lifetime value'].mean()

In [ ]:
combined_df['customer lifetime value'].fillna(mean_value, inplace=True)

In [ ]:
combined_df.isna().sum()

Challenge 2: Structuring Data In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:
https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv
This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.
Exercise 1: Clean and Format the Data While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column.
To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.
Save the clean dataset into a csv file.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv ("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [ ]:
df

In [ ]:
df= df.rename(columns=str.lower)

In [ ]:
def rename_columns(df):
    df.rename (columns = {'effective to date':'datetime'}, inplace=True)
    return df

df = rename_columns(df)
df

In [ ]:
df.drop('unnamed: 0', axis=1, inplace=True)

In [ ]:
df = df.reset_index(drop=True)
df

In [ ]:
df.isna().sum()

In [9]:
df = df.dropna(subset = "vehicle type")

In [10]:
df = df.reset_index(drop=True)

In [11]:
df.isna().sum()

customer                           0
state                            313
customer lifetime value            0
response                         313
coverage                           0
education                          0
datetime                           0
employmentstatus                   0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim          318
months since policy inception      0
number of open complaints        318
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                    314
vehicle size                     314
vehicle type                       0
dtype: int64

In [12]:
df = df.dropna(subset = "response")

In [13]:
df = df.reset_index(drop=True)

In [14]:
df.isna().sum()

customer                           0
state                              0
customer lifetime value            0
response                           0
coverage                           0
education                          0
datetime                           0
employmentstatus                   0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim          292
months since policy inception      0
number of open complaints        292
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                    296
vehicle size                     296
vehicle type                       0
dtype: int64

In [15]:
df = df.dropna(subset = "number of open complaints")

In [16]:
df = df.reset_index(drop=True)

In [17]:
df.isna().sum()

customer                           0
state                              0
customer lifetime value            0
response                           0
coverage                           0
education                          0
datetime                           0
employmentstatus                   0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim            0
months since policy inception      0
number of open complaints          0
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                    280
vehicle size                     280
vehicle type                       0
dtype: int64

In [18]:
mode_value1 = df['vehicle class'].mode()[0]

In [19]:
df['vehicle class'].fillna(mode_value1, inplace=True)

In [20]:
df.isna().sum()

customer                           0
state                              0
customer lifetime value            0
response                           0
coverage                           0
education                          0
datetime                           0
employmentstatus                   0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim            0
months since policy inception      0
number of open complaints          0
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                      0
vehicle size                     280
vehicle type                       0
dtype: int64

In [21]:
mode_value2 = df['vehicle size'].mode()[0]

In [22]:
df['vehicle size'].fillna(mode_value2, inplace=True)

In [23]:
df.isna().sum()

customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
datetime                         0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

In [24]:
#df['datetime'] = pd.to_datetime(df['datetime'])

In [25]:
#df['month'] = df['datetime'].dt.month
#df

In [26]:
df

,customer,state,customer lifetime value,response,coverage,education,datetime,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
1,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4818,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
4819,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
4820,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
4821,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
4822,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [27]:
df

,customer,state,customer lifetime value,response,coverage,education,datetime,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
1,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4818,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
4819,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
4820,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
4821,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
4822,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [28]:
df['datetime'] = pd.to_datetime(df['datetime'], format='%m/%d/%y')

In [29]:
df['month'] = df['datetime'].dt.strftime('%m')

In [30]:
df['datetime'] = df['datetime'].dt.strftime('%m/%d/%y')

In [31]:
df

,customer,state,customer lifetime value,response,coverage,education,datetime,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,02/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,02
1,XL78013,Oregon,22332.439460,Yes,Extended,College,01/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,01
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,01/02/11,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,01
3,KR82385,California,5454.587929,No,Basic,Master,01/26/11,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,01
4,FH51383,California,5326.677654,No,Basic,High School or Below,02/07/11,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4818,PP30874,California,3579.023825,No,Extended,High School or Below,01/24/11,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,01
4819,SU71163,Arizona,2771.663013,No,Basic,College,01/07/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,01
4820,QI63521,Nevada,19228.463620,No,Basic,High School or Below,02/24/11,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,02
4821,KX53892,Oregon,5259.444853,No,Basic,College,01/06/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,01
4822,WA60547,California,11971.977650,No,Premium,College,02/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,02

Create a summary tableshowing the total re venue for each sales channel (branch, call center, web, and mail).
Round the total_claim_amount to 2 decimal points. Analyze the resulting table to draw insights.

In [32]:
df['total_claim_amount'] = df['total_claim_amount'].round(2)

# Grouping DataFrame by 'sales_channel' and calculate the sum of 'total_claim_amount' for each channel
summary_table = df.groupby('sales channel')['total claim amount'].sum().reset_index()

print(summary_table)

KeyError: 'total_claim_amount'

Create a pivot table showing the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
pivot_table = pd.pivot_table(df, values='customer lifetime value', index='gender', columns='education level', aggfunc='mean')


print(pivot_table)

Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [ ]:
df['complaint_date'] = pd.to_datetime(df['complaint_date'])

# Extract the month from the 'complaint_date' column
df['month'] = df['complaint_date'].dt.strftime('%B')

# Group the DataFrame by 'policy_type' and 'month' and calculate the count of complaints
summary_table = df.groupby(['policy_type', 'month']).size().reset_index(name='num_complaints')

# Display the summary table in long format
print(summary_table)